#pagelet_trending_tags_and_topics,
#pagelet_ego_pane {
    opacity: 0;
    height: 1px;
    overflow: hidden;
}


#contentArea #stream_pagelet > div > ._5pcb{
    opacity: 0;
    height: 1px;
    overflow: hidden;
}


.cardRightCol,
.home_right_column {
    min-height: 300px!important;
    // background-image: url('../img/steve.gif'); // background image is set via javascript in background.js
    background-position: bottom center;
    background-repeat: no-repeat;

}